.results__text {
	font-weight: 700;
	font-size: 20px;
}

.results__button {
	border: none;
	cursor: pointer;
	background-color: transparent;
	text-decoration: underline;
	margin: 4px 0px;
	text-align: unset;
}
